@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfc;
  --foreground: #1c3e2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c3e2c;
    --foreground: #f2f9f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
